body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    padding: 15px 0;
    background-color:#363636;
    color: white;
}
.navbar h1 {
    margin: 0;
    margin-left: 20%;
}
div#central {
    width: 60%;
    margin: 20px auto;
}
h2{
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b7b7a4;
}
table {
   width: 100%; 
    border-collapse: collapse;
}
th, td {
    border: 1px solid #a5a58d;
}
th {
    height: 20px;
    width: 120px;
    padding: 10px;
    background-color: #f0efeb;
}
td {
    padding: 5px;
    text-align: center;
}
form div label{
    display: block;
}
form div input{
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}
form div:not(:last-child){
    display: inline-block;
    width: 250px;
}
form div:nth-child(2){
    margin: 0 25px;
}
form div:nth-child(5){
    width: 100%;
    position: relative !important;
}
button{
    padding: 10px 30px;
    font-size: 17px;
    margin: 15px 0;
    color: #ffffff;
    background-color: #4361ee;
    border: none;
}
button#buscar{
    float: right  !important;
}
#validador {
    display: none;
    color: #000000;
    width: 30%;
    background-color: #e63946;
    padding: 10px;
    border-radius: 10px;
}
#central
    div:first-of-type{
    margin: 20px 0;
}
@media only screen and (max-width: 600px) {
    .navbar h1 {
        margin: 0;
    }
    h1{
        font-size: 7vw;
        text-align: center;
    }
    h2{
        font-size: 20px;
    }
    div#central {
        width: 85%;
    }
    form div:nth-child(2){
        margin: 0;
    }
    button{
        padding: 5px 15px;
    }
    th {
        height: 15px;
    }
    tr{
        font-size: 12px;
    }
    td {
        padding: 5px;
        text-align: center;
    }
}